.transform-rules-container{

  width: 100%;
  height: 90%;

  cdk-virtual-scroll-viewport{
    height: 80%;
    margin-top: 3em;
  }
}
.w-100-h-100{
  width: 100%;
  height: 100%;
}


  /* Media queries para ajustar el tamaño de fuente en diferentes tamaños de pantalla */
  @media screen and (max-width: 600px) {
    .title {
      text-align: center; /* Centrar el texto */
      font-size: 1.25rem ; /* Tamaño de fuente para pantallas medianas */
      margin-top: 54px !important;
  }
  }

  @media screen and (min-width: 601px) and (max-width: 1200px) {

    .title {
      text-align: center; /* Centrar el texto */
      font-size: 1.8rem !important; /* Tamaño de fuente para pantallas medianas */
      margin-top: 54px !important;
  }
  }
  @media screen and (min-width: 1201px) {

    .title {
      text-align: center; /* Centrar el texto */
      font-size: 3rem; /* Tamaño de fuente inicial */
      margin-top: 30px;
  }
}
