.container{
    display: grid;
    height: 40vh;
    width: auto;
.head-title{
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
    ngx-dropzone{
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .main-drop-label{
            font-size: x-large;
        }
    }
    }

/* Tamaño  para pantallas pequenas */

@media screen and (max-width: 600px) {
    .head-title{
        font-size: x-large;

    }
    ngx-dropzone{
        margin: 0.5em;
        height: 25vh;
        .main-drop-label{
            font-size: x-large;
        }
        ngx-dropzone-preview {
            height: 15vh;
            min-width: 42vw;

        }
    }
    .button-container{
        display: flex;
        justify-content: center;
        margin: 0.5em;
    }
}

/* Tamaño  para pantallas medianas */

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .button-container{
        display: grid;
    }
}
/* Tamaño  para pantallas grandes */

@media screen and (min-width: 1201px) {
    .container{
        display: grid;
        height: 40vh;
        width: auto;
        .head-title{
            font-size: x-large;
        }
    }
    ngx-dropzone{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em;
        
        .main-drop-label{
            font-size: larger;
            margin: 2em;
        }
        ngx-dropzone-preview {
          
            .name-label{
                font-size: larger;
            }

        }
    }
    .button-container{
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 1em;
    }
 
}
