<toco-header  [showMenuLang]="'true'" [icon]="'/assets/icons/apps/sceiba.svg'" [iconLabel]="'SCEIBA'" [iconAlt]="'SCEIBA'"></toco-header>

<div class="menu-full">
  <span style="width: 5%;"></span>
  <ng-container *ngFor="let item of arrayMenuItems,let i">
    <a mat-button class="font-bold" (click)="changeFontContent(i)" [routerLink]="[item.routerlink]" routerLinkActive="active" >{{item.content | translate }}</a>
  </ng-container>

</div>
<section class="toolbar-main" fxLayout="column" fxLayoutAlign="center center">
  <div class=" bg-primary-color div-container div-toolbar" fxLayoutAlign="center center">
    <mat-icon  class="menu-item" *ngIf="(view_title=='CONSULTAS_SPARQL')"
     aria-hidden="false"  fontIcon="menu" 
     [matMenuTriggerFor]="menu"></mat-icon>
     <mat-menu #menu="matMenu">
      <button mat-menu-item>{{'CONSULTAS_SPARQL' | translate}}</button>
      <button mat-menu-item>{{'DOCUMENTACION' | translate}}</button>
      <button mat-menu-item>{{'HISTORIAL' | translate}}</button>
    </mat-menu>
    <div class=" div-font">
        <h3 class="mat-display-2">{{ view_title | translate }}</h3>
    </div>
</div>



</section>

<section class="container-component">
  <router-outlet></router-outlet>
</section>

<app-footer
  [sites]="footerSites"
  [information]="footerInformation"
>
</app-footer>

