main{
    margin: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 10% 30%;
  height: 100%; /* Ajusta la altura según tus necesidades */
}
.button-section{
    background-color: aqua;
}
.response-section{
    background-color: aquamarine;
}
.editor-section{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tu preferencia */
    margin: 1em;
    height: 100%;
    max-width: 60vw;
    .editor-section .ngx-monaco-editor {
        height: 90%; /* Ajusta la altura del editor según tus necesidades */
      }
}