<main>
   

    <section class="editor-section">

       <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </section>
    <section class="button-section">
        <div class="button-container">
            <button mat-fab color="primary" (click)="getQuery()"  aria-label="Example icon button with a heart icon">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-fab color="basic" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
          </div>
    </section>
    <section class="response-section"></section>
</main>