cdk-virtual-scroll-viewport {
  height: 50vh;
  width: 28vw;
  margin-top: 0px;
  margin-bottom: 3em;
  .entity-container {
    .entity-button {
      height: 95%;
      width: 90%;
      margin: 8px;
      border-radius: 10px;
      background-color: #f5f5f5;
      align-items: center;
    }
  }
}


.title {
  text-align: center; /* Centrar el texto */
  font-size: 3rem; /* Tamaño de fuente inicial */
  margin-top: 6px;
}
/* Media queries para ajustar el tamaño de fuente en diferentes tamaños de pantalla */
@media screen and (max-width: 600px) {
  .title {
    text-align: center; /* Centrar el texto */
    font-size: 2rem; /* Tamaño de fuente inicial */
    margin-top: 30px;
  }

  cdk-virtual-scroll-viewport {
    height: 80%;
    width: 100%;
    margin-top: 10px;
  }
  .scroll-container {
    display: flex;
    margin: 10px;
  }
  .entity-container {
    width: 30vw;
    height: 20vh;
  }
  .entity-button {
    width: 18vw;
    height: 29vh;
    margin: 8px;
  }
}
 /* Media queries para ajustar el tamaño de fuente en diferentes tamaños de pantalla */
 @media screen and (max-width: 600px) {

  /* Tamaño de fuente para pantallas pequeñas */

}

@media screen and  (min-width: 601px)and  (max-width: 1200px) {
  /* Tamaño de fuente para pantallas medianas */
  .title {
    text-align: center; /* Centrar el texto */
    font-size: 1.8rem; /* Tamaño de fuente inicial */
    margin-top: 1px;
  }
  .scroll-container {
    height: 48vh;
    width: 28vw;
    display: inline;

    margin: 10px;
    .entity-container {
      height: 12vh;
    }
  }
}

@media screen and (min-width: 1201px) {

 /* Tamaño de fuente para pantallas grandes */
 .title {
  text-align: center; /* Centrar el texto */
  font-size: 3rem; /* Tamaño de fuente inicial */
  margin-top: 3px;
}
.scroll-container {
  height: 48vh;
  width: 28vw;
  display: inline;

  margin: 10px;
  .entity-container {
    height: 12vh;
    .entity-button{
      height: 14vh;
      margin: 30px 15px;
    }
  }
}
}


@media screen and (min-width: 601px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {

}
