cdk-virtual-scroll-viewport {
  height: 50vh;
  width: 28vw;
  margin-top: 0px;
  margin-bottom: 3em;
  .toadd-button-container {
    display: flex;
    justify-content: center;
    height: 12vh;
    background-color: white;
    width: 26vw;
margin: 0px 10px;
    border-radius: 10px;
    border: 2px black dashed;

    transition: transform 0.3s ease;
    .toadd-button {
      display: flex;
      justify-content: center;
      width: 5em;
      margin-top: 2em;
      cursor: pointer;
      opacity: 1;

    }
  }
  .toadd-button-container:hover {
    transform: scale(1.05);
  }
  .entity-container {


    .entity-button {
      height: 95%;
      width: 90%;
      margin: 8px;
      margin-bottom: 1em;
      border-radius: 10px;
      background-color: #f5f5f5;
     display: flex;
     justify-content: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }
    .entity-button:hover {
      transform: scale(1.05);
    }
  }
}

.title {
  text-align: center; /* Centrar el texto */
  font-size: 3rem; /* Tamaño de fuente inicial */
  margin-top: 6px;
}
/* Media queries para ajustar el tamaño de fuente en diferentes tamaños de pantalla */
@media screen and (max-width: 600px) {
  .title {
    text-align: center; /* Centrar el texto */
    font-size: 2rem; /* Tamaño de fuente inicial */
    margin-top: 30px;
  }

  cdk-virtual-scroll-viewport {
    height: 80%;
    width: 100%;
    margin-top: 10px;
    .toadd-button-container {
      display: flex;
      justify-content: center;
      height: 20vh;
      background-color: white;
      width: 27vw;
      margin: 0px 12px;
      border-radius: 10px;
      border: 2px black dashed;

      transition: transform 0.3s ease;
      .toadd-button {
        display: flex;
        justify-content: center;
        width: 5em;
        margin-top: 3em;
      }
    }
  }
  .scroll-container {
    display: flex;
    margin: 10px;
  }
  .entity-container {
    width: 30vw;
    height: 20vh;
  }
  .entity-button {
    width: 18vw;
    height: 29vh;
    margin: 8px;
  }


}
/* Media queries para ajustar el tamaño  */
@media screen and (max-width: 600px) {
  /* Tamaño  para pantallas pequeñas */
  .title {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1px;
  }

}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  /* Tamaño  para pantallas medianas */
  .title {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1px;
  }
  .scroll-container {
    height: 48vh;
    width: 28vw;
    display: inline;

    margin: 10px;
    .entity-container {
      height: 7vh !important;
    }
  }
  .toadd-button-container {
    display: flex;
    justify-content: center;
    height: 7vh !important;
    background-color: white;
    width: 20vw;
    margin: 0px 12px;
    border-radius: 10px;
    border: 2px black dashed;

    transition: transform 0.3s ease;
    .toadd-button {
      display: flex;
      justify-content: center;
      width: 2.5em;
      margin-top: 1em !important;
    }
  }
}

@media screen and (min-width: 1201px) {
  /* Tamaño de fuente para pantallas grandes */
  .title {
    text-align: center !important; /* Centrar el texto */
    font-size: 1.25rem; /* Tamaño de fuente inicial */
    margin-top: 3px;

  }
  .scroll-container {
    height: 48vh;
    width: 28vw;
    display: inline;
    .toadd-button-container {
      display: flex;
      justify-content: center;
      height: 12vh;
      background-color: white;
      width: 25vw;
      margin: 0px 12px;

     }
    margin: 10px;
    .entity-container {
      height: 12vh;
      .entity-button {
        height: 14vh;
        margin: 30px 15px;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
