<mat-grid-list [cols]="cols" >
  <mat-grid-tile  >
<div class="tile-height-entity-panel">
  <app-entity-panel style="width: 100%;height: 100%; display: inline-block; "></app-entity-panel>
</div>

  </mat-grid-tile>
  <mat-grid-tile>
<div class="tile-height-rules-panel">
  <app-transform-rules style="width: 100%;height: 100%;"></app-transform-rules>
</div>


  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list [cols]="cols" >
  <mat-grid-tile>Primera columna</mat-grid-tile>
  <mat-grid-tile>Segunda columna</mat-grid-tile>
</mat-grid-list>
